@import 'src/pages/forum/Pages/Forum.css';

.topic-page__container {
    opacity: 0.45;
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.topic-page__header {
    display: flex;
    align-items: center;
    font-size: 32px;
    padding: 20px;
}

.topic-page__author-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.topic-page__author-image {
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-shadow);
}

.topic-page__text {
    font-size: 24px;
}

.topic-page__body {
    min-height: 20%;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-black);
    border-top: 2px solid var(--color-black);
}

.topic-page__footer {
    font-size: 40px;
}

.topic-page__footer-second {
    display: flex;
    justify-content: space-between;
}

.topic-page__likes-container {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.topic-page__likes-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.topic-page__topic {
    list-style-type: none;
    padding: 0;
}

.topic-page__message-container {
    border-bottom: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    padding: 10px;
}

.topic-page__message-author-image {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-shadow);
    margin-right: 20px;
}
