@import '../../common.css';

.start-page__play-button {
    text-decoration: none;
    color: var(--color-games-title);
    font-size: 150px;
}

.start-page__play-button:hover,
.start-page__play-button:focus {
    color: var(--color-shadow);
}
