.page-container__backlink {
    z-index: 2;
    text-decoration: none;
    color: var(--color-games-title);
    font-size: 11em;
    margin-left: 2%;
    margin-top: 530px;
}

.page-container__backlink:hover, .page-container__backlink:focus {
    color: var(--color-shodow);
}
