@import '../../common.css';

.backlink {
    z-index: 2;
    color: var(--color-games-title);
    background-color: #000;
    font-size: 13em;
    border: none;
    cursor: pointer;
    padding: 25px;
    align-self: flex-start;
}

.backlink:hover,
.backlink:focus {
    color: #fff;
    text-shadow: var(--color-shadow) 2px 2px 0, var(--color-shadow) -2px -2px 0,
        var(--color-shadow) -2px 2px 0, var(--color-shadow) 2px -2px 0;
}
