@import '../../common.css';

.container__input-with-error {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    flex-direction: column;
}

.input {
    border: none;
    border-bottom: 1px inset var(--color-form-input);
    background: none;
    text-decoration: none;
    text-align: end;
    font-size: 24px;
    font-family: inherit;
    margin-left: 10px;
    width: 180px;
}

.container__input {
    display: flex;
    justify-content: space-between;
}

.input__error-text {
    height: 15px;
    font-size: 15px;
    color: var(--color-error);
    align-self: flex-end;
}
