@import '../../common.css';

.game-container__gameboard {
    overflow: hidden;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.game-container__background {
    height: 100vh;
    background-image: url('../../assets/images/game_background.png');
    background-size: cover;
}

.game-container__gameboard-score {
    position: absolute;
    top: 2%;
    left: 77%;
    font-family: "JollyLodger-Regular", serif;
    color: var(--color-games-title);
    font-size: 72px;
}
