.button {
    border: none;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}

.button:active,
.button:hover {
    color: #fff;
    text-shadow: var(--color-shadow) 2px 2px 0, var(--color-shadow) -2px -2px 0,
        var(--color-shadow) -2px 2px 0, var(--color-shadow) 2px -2px 0;
}

.color-primary {
    color: var(--color-button-primary);
}

.color-secondary {
    color: var(--color-button-secondary);
}

.color-error {
    color: var(--color-error);
}

.button__type-form {
    font-size: 72px;
}

.button__oauth {
    font-size: 50px;
    flex: 2;
}

.button__type-error {
    font-size: 72px;
}

.button__full-screen {
    background-image: url('../../assets/icons/full-screen.png');
    background-size: cover;
    width: 64px;
    height: 64px;
}

.button__exit-full-screen {
    background-image: url('../../assets/icons/exit-full-screen.png');
    background-size: cover;
    width: 64px;
    height: 64px;
}
