button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.login-signin-form__button {
    font-size: 72px;
    padding-right: 10px;
    padding-left: 10px;
}

.profile-form__button {
    font-size: 86px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 25%;
}
