@import '../../common.css';

.error-page__container {
    background-color: var(--color-background);
    width: 100%;
    height: 100vh;
    font-family: var(--font-family);
    color: var(--color-games-title);
}

.error-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page__title {
    font-size: 15rem;
    margin-bottom: 0;
}

.error-page__text {
    z-index: 3;
    font-size: 5rem;
    margin: 0;
}

.error-page__back-link {
    margin-top: -4rem !important;
}
