.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    position: relative;
}

.form__buttons-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: inherit;
    align-self: flex-end;
    flex-wrap: wrap;
}

.form-error {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    color: var(--color-error);
    font-size: 56px;
}
