@import '../../common.css';

.navi__list {
    position: absolute;
    z-index: 2;
    list-style-type: none;
    top: 3em;
    left: 0;
    padding: 0;
}

.navi__item {
    width: 300px;
    opacity: 0.5;
    border: 2px solid red;
    background-color: var(--color-games-title);
    margin-bottom: 1em;
    padding: 0 20px;
}

.navi__link {
    text-decoration: none;
    font-size: 52px;
    color: #000;
}

.navi__link:hover,
.navi__link:focus {
    color: var(--color-shadow);
}

.navi__button {
    border: none;
    background: none;
    cursor: pointer;
}
