@import '../../common.css';

.gameover-page__lose-background {
    background-image: url('../../assets/images/gameover_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.gameover-page__win-background {
    background-image: url('../../assets/images/bomber.png');
    background-position: 100px 40px;
    background-size: cover;
}

.gameover-page__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 32%;
}

.gameover-page__score {
    font-size: 52px;
    color: var(--color-games-title);
}
