@import '../../common.css';

.forum-page__item {
    width: 510px;
    margin-bottom: 1em;
    border: 2px solid var(--color-shodow);
}

.forum-page__discussion {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
    color: #000;
}

.forum-page__discussion-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.forum-page__author-image {
    width: 40px;
    height: 40px;
    margin: 20px;
    border: 2px solid var(--color-shodow);
}

.forum-page__discussion-topic {
    font-size: 36px;
    margin: 20px 0 0 15px;
}

.forum-page__message-container {
    display: inline-flex;
    margin-left: 100px;
    margin-bottom: 5px;
    padding-right: 5%;
}

.forum-page__last-message {
    margin: 0;
}

.forum-page__icons-container {
    display: flex;
    flex-direction: row;
}

.forum-page__icon {
    width: 20px;
    margin-right: 10px;
}

.forum-page__answers-icon {
    margin-left: 100px;
}

.forum-page__votes-icon {
    margin-left: 40px;
}

.forum-page__icon-text {
    font-size: 18px;
    margin: 0;
}

.forum-page__discussion-content_created {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
}

.forum-page__created-date {
    font-size: 22px;
    margin: 0;
}
