:root {
    --color-error: #940009;
    --color-shadow: #940009;
    --color-background: #000000;
    --color-button-primary: #000000;
    --color-form-input: #000000;
    --color-form: rgba(174, 180, 189, 0.35);
    --color-container: #aeb4bd;
    --color-games-title: #aeb4bd;
    --color-button-secondary: #aeb4bd;
    --color-button-shadow: #aeb4bd;
    --font-family: 'JollyLodger-Regular', cursive;
    --color-green: rgba(93, 230, 71, 1);
    --color-grey: rgba(174, 180, 189, 1);
    --color-red: rgba(186, 0, 53, 1);
    --color-black: #000000;
}

* {
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
    color: var(--color-form-input);
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'JollyLodger-Regular';
    src: url('./assets/fonts/JollyLodger-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.container__page-title {
    z-index: 2;
}

.page-title {
    color: var(--color-games-title);
    font-size: 7em;
    font-weight: normal;
    margin: 0;
}

.base-page {
    background: var(--color-background);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: var(--color-games-title);
}

.page-with-bomber {
    background-color: var(--color-background);
    background-image: url('./assets/images/bomber.png'), url('./assets/images/planet.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.base-page__background {
    background-image: url('./assets/images/planet.png');
    background-size: cover;
}

.container__page-content {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.container__left-part {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.container__right-part {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.games-title {
    color: var(--color-games-title);
    z-index: 999;
    font-size: 96px;
    text-shadow: var(--color-shadow) 2px 2px 0, var(--color-shadow) -2px -2px 0,
        var(--color-shadow) -2px 2px 0, var(--color-shadow) 2px -2px 0;
}

.play-button {
    text-decoration: none;
    color: var(--color-games-title);
    font-size: 150px;
    width: fit-content;
}

.play-button:hover,
.play-button:focus {
    color: var(--color-shadow);
}

.container__theme-GREEN {
    background: rgba(93, 230, 71, 1);
}

.form__theme-GREEN {
    background: rgba(93, 230, 71, 0.35);
}

.container__theme-GREY {
    background: rgba(174, 180, 189, 1);
}

.form__theme-GREY {
    background: rgba(174, 180, 189, 0.35);
}

.container__theme-RED {
    background: rgba(186, 0, 53, 1);
}

.form__theme-RED {
    background: rgba(186, 0, 53, 0.35);
}
